/*  space between content and border -padding
    space between two elements - margin

    box sizing:border-box;
    box sizing:content-box

    selectors:
    class: .
    id: #
    pseudo:
    universal:
    tag: